.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.6rem 1rem;
  font-size: 12px;
}
td:last-child, td:nth-last-child(2) {
  padding: 1rem 0;
}
th {
  font-weight: 400;
  color: #999999;
  border-bottom: 1px solid #e5e5e5;
}
