.panel {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
  gap: 1rem;
}

select {
  margin-left: 0.5rem;
  padding: 0.4rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
