.header {
  padding: 1rem 2rem;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 1.5rem;
  font-size: 14px;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.nav .active {
  border-bottom: 2px solid #00c78b;
  padding-bottom: 2px;
  font-weight: 600;
}

.logout {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 500;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --- Медиазапросы --- */

/* До 767px — узкий экран */
@media (max-width: 767px) {
  .wrapper {
    width: 360px;
    flex-wrap: wrap;
  }
}

/* От 768px до 1280px — средний экран */
@media (min-width: 768px) and (max-width: 1280px) {
  .wrapper {
    width: 680px;
  }
}
